* {
    margin: 0;
    padding: 0;
    font-family:'Courier', Courier New, monospace;
    box-sizing: border-box;
}
.logo {
    height: 55px;
    font-size: 35px;
    font-weight: 600;
    background: #33ffd8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    height: 90vh;
    background: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    background: #000;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.2);
    background: #808080;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 35px;
    box-shadow: none;
}
form input.equal {
    width: 42.5%;
}
form input.operator {
    color: #33ffd8;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #33ffd8;
    height: 45px;
}
.footer .footer-text {
    font-size: 20px;
    font-weight: 600;
}
